body {
    background-color: #624E88;
}

/* Main Content (MENU) */

header {
    text-align: center;
    width: 100%;
    color: #E6D9A2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
    display: flex;
    flex-direction: column;
}

.main_image {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 10%;
}

.main_segitiga, .main_jajargenjang {
    display: flex;
    position: absolute;
    align-content: center ;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    left: 5%;
    right: 5%;
    background-color: #CB80AB;
    
}

.main_jajargenjang {
    margin-top: 290px;
}

.main_button {
    background-color: #E6D9A2;
    border-color: #e7d275;
    border-width: 10px;
    border-radius: 30px;
    border-collapse: collapse;
    width:100%;
    margin-left: 80px;
    margin-right: 20px;
    color: #624E88;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main_button:hover {
    background-color: #c3b46e;
    border-color: #dad4a9;
    color: #483075;
}

/* ISI SEGITIGA (HIDDEN FIRST)*/

.div {
    display: flex;
}
.segitiga, .jajargenjang{
    display: none;
    position: absolute;
    top: 800px;
    width:100%;
    background-color: #dad4a9;
}

.isi_segitiga, .isi_jajargenjang {
    width: 100%;
}
header>.header_segitiga, header>.header_jajargenjang {
    background-color: #c3b46e;
    color:#483075
}

.isi_image {
    width: 100%;
}

p {
    text-align: center;
    color:#35303f;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    letter-spacing: px;
    margin: -1px;
}

.input {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

input {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
    margin-top: 5%;
    font-size: xx-large;
    text-align: center;
}

.submit_segitiga , .reset_segitiga, .submit_jajargenjang, .reset_jajargenjang {
    width: 60%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-bottom: 20px;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}


@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
}